/* Marker icon appearance */
.leaflet-marker-icon.rounded-terminal-icon {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* Status-based border */
.leaflet-marker-icon.rounded-terminal-icon.green-status {
  border: 3px solid green;
}

.leaflet-marker-icon.rounded-terminal-icon.red-status {
  border: 3px solid red;
}
